
<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
            </head>
    <body>
        
        
        <script> </script>
        
        <h1>发福利啦~~来个小视频,嘎嘎🏷.</h1>
        
        <video autoplay="autoplay" src="source/BigBuck.m4v" controls="controls"></video>
        
        <hr/>
        <br/>
        
        <h1>在来一首歌~</h1>
        <audio src="source/music.m4a" controls="controls"></audio>
        
        
        <h1>求职:如果有公司有swift全栈方向的工作,求个位子啊~</h1>
        <h1>QQ 3331057077</h1>
        
        <h1>自我介绍👌: 我是个新人小白一个,这个星期才接触了一点H5 JS PHP MySQL 还有这个swift的Vaper服务器框架 刚自己研究的,然后就部署在herku了.也不是计算机专业的,学习班学的是iOS,学的也不是很好,还有react native双平台那个,也会一点.希望有公司大牛带一下😆~待遇什么的都随意啊~</h1>
        
        <ul>
            <li>我是无序列表1</li>
            <li>我是无序列表1</li>
            <li>我是无序列表1</li>
            <li>我是无序列表1</li>
            <li>我是无序列表1</li>
        </ul>
        
    </body>
</html>




