<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录系统</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    
    <div id="panel">
         <!--头部-->
           <header>
               <h3>欢迎来到swift 粉丝群~</h3>
           </header>
         <!--中间的内容-->
         <div id="content">
             <!--用户名和密码-->
             <div class="usr-pwd">
                 <img src="imgs/icon_people.png" alt="">
                 <input type="text" placeholder="请输入用户名">
             </div>
             <div class="usr-pwd">
                 <img src="imgs/icon_password.png" alt="">
                 <input type="password" placeholder="请输入密码">
             </div>
             <!--默认的设置-->
             <div class="setting">
                 <a href="" class="pull-left"><input type="checkbox">下次自动登录</a>
                 <a href="" class="pull-right">忘记密码?</a>
             </div>

             <!--登录按钮-->
             <button id="login-btn">登&nbsp;&nbsp;录</button>

             <!--注册-->
             <div class="reg">还没账号? <a href="">立即注册</a></div>
         </div>
         <!--尾部-->
         <footer>
              <span>社交账号登录: </span>
              <img src="imgs/qq.png" alt="">
              <img src="imgs/sina.png" alt="">
              <img src="imgs/weixin.png" alt="">
         </footer>
    </div>
</body>
</html>
