<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <h1>这是用swift 的vapor 来做的 准备要部署到heroku上来! 加油!</h1>
            <h1> 加油! 这一周学习MySQL PHP swift3.0 H5标签 太懵逼了😄~</h1>
            <h1> 如果有时间,我就自己做服务器,前后端一起做试试,是不是就可以直接传递swift 语言了???  有喜欢swift做服务器的 联系我啊QQ 3331057077</h1>
            <title>选秀歌手为何火不起来？做网红或是出路</title>
    </head>
    <body>
        <!--文章-->
        <article>
            <!--文章的头部-->
            <header>
                <h2>选秀歌手为何火不起来？做网红或是出路</h2>
                <h4>新歌声 网红 选秀歌手 分类 :互联网</h4>
                <img src="imgs/share.png">
                    </header>
            <!--文章的主体-->
            <div>
                <section>
                    <h3>一 好声音因版权纠纷，改名为中国新歌声</h3>
                    <img src="imgs/img1.png" width="100%">
                        <p>今年，好声音因版权纠纷，改名为中国新歌声，日前，该节目所有的盲选环节已经收官，4位导师的阵容已经确定。目前汪峰战队已经选出5强。该节目在今年播出之后，收视率依然不俗，但可以明显感知的是，好声音从第一季到第五季，其总体上呈现出来的网络话题效应是下滑的，从这一季度来看，尽管盲选环节已经收官，但让人印象深刻的选手较少，在朋友圈、微博等社交网络的话题效应越来越弱了。</p>
                        <p>而且我们可以感知的是，好声音选手选了之后一届又一届，除了在第一季，吴莫愁和金志文等少数几个选手之外，却鲜有歌手能够火的起来。无论名次好坏，唱功优劣、特色鲜明与否，多数选手昙花一现，节目结束之后，人就基本上在歌坛销声匿迹了。</p>
                        </section>
                <section>
                    <img src="imgs/img2.png" width="35%">
                        <p>我们知道，对于音乐类节目尤其是这种通过层层筛选，相对更注重歌手的唱功与声音特色的选秀节目而言，对新人的培育与挖掘应该是节目的本质才对，因为他们多数是民间缺乏背景与资源的歌手，节目应该需要对歌手本身推而广之，最大限度的挖掘歌手的价值，需要覆盖广大的人群达成流行的广度，帮助他们实现或者接近梦想，这应该是好声音（新歌声）区别于其他的综艺节目的关键点。</p>
                        <p>但事实上，好声音（新歌声）整体的发展却走入了另一个极端，即为了节目效果，选手开始被弱化，整体节目注重导师抢人环节的撕逼与节目效果，节目给人的印象，主角逐渐从选手变成了导师。所以几季好声音下来，人们记住了导师们在抢人环节营造出来的气氛以及其中涌现出来的金句，但却记不住选手。而从节目本身来看，让人感觉其目标不是奔着如何捧红选手，而是让导师来制造话题与热播效果。</p>
                        </section>
            </div>
            <!--文章的尾部-->
            <footer>
                <h3>版权声明</h3>
                <p>本文仅代表作者观点，不代表百度立场。</p>
                <p>本文系作者授权百度百家发表，未经许可，不得转载。</p>
            </footer>
        </article>
    </body>
</html>


<div
